.popularMoviesList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

b, span, p {
    cursor: default;
}