.videoInfoWrapper {
    margin-left: 5%;
}

.movieName {
    color: #E10002;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px
}

.desc_item {
    margin-bottom: 10px;
}

.desc_item span {
    font-weight: bold;
}

.add_remove_from_favorites_button {
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #282c34;
    cursor: pointer;
    padding-top: 5px;
}
