@font-face {
  font-family: ubuntulight;
  src: url(../public/fonts/Ubuntu-Light.ttf);
}

body {
  margin: 0;
  padding: 0;
  /*background-color: #26272B; /*#1C1D21 #26272B*/
  min-height: 100vh;
  background: linear-gradient(0deg, #1C1D21, #26272B 80%) no-repeat;
  color: #fff;
  font-family: ubuntulight;
}

body a {
  text-decoration: none;
  color: #fff;
}